html {
    background: #ffc600;
    font-size: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

input {
    width: auto;
    padding: 16px;
    text-align: center;
    font-size: 1.3em;
    border: 10px solid #eee;
}

.suggestions {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    border: 1px solid lightgrey;
    background: #eee;
    width: 80%;
    margin: 0 auto;
    padding: 8px;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
}

span.population {
    /*float: right;*/
    font-size: 0.9em;
}

h1 {
    text-align: center;
}

.hl {
    background: yellow;
}
