body {
    margin: 0;
}

body {
    background: orange;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

input {
    width: 100%;
}

.suggestions {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.hl {
    background: yellow;
}
